.navbar {
  background-color: #222;
}

.company-name {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: #ea4f4c;
  cursor: pointer;
}

.company-name:hover {
  color: #ea4f4c;
}

.labels {
  color: white;
  cursor: pointer;
  font-size: 15.5px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.labels:hover {
  color: #ea4f4c;
}

.login-button {
  color: #fff !important;
  background-color: #ea4f4c !important;
  border-color: #ea4f4c !important;
  font-size: 15.5px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.input-label {
  float: left !important;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
