.navbar {
  background-color: #190019;
}

.company-name {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: #fbe4d8;
}

.company-name:hover {
  color: #fbe4d8;
}

.labels {
  color: #f1916d;
  cursor: pointer;
}

.login-button {
  color: #fff !important;
  background-color: #e67e22 !important;
  border-color: #e67e22 !important;
}
