.navbar {
  background-color: #024959;
}

.company-name {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: #f28705;
  cursor: pointer;
  font-size: 20px;
}

.login-button {
  background-color: #024959 !important;
  border: none !important;
  width: 100px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin-bottom: 14px;
}

.input-label {
  float: left !important;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.company-icon {
  color: #c43302;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}

.login-logout-icon {
  color: #f2cb05;
  font-size: 22px;
  text-align: center;
  justify-content: center;
}

.login-logout-text {
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.userInfo {
  background-color: #024959 !important;
  border: none !important;
  width: 100px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: auto 0;
}
