# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/BinanceDemoUI/node_modules
/BinanceReactDemo/.vs
/BinanceReactDemo/BinanceReactDemo.API/bin/Debug/net6.0
/BinanceReactDemo/BinanceReactDemo.API/obj
/BinanceReactDemo/BinanceReactDemo.Common/bin/Debug/net6.0
/BinanceReactDemo/BinanceReactDemo.Common/obj
/BinanceReactDemo/BinanceReactDemo.DataTransferObject/bin/Debug/net6.0
/BinanceReactDemo/BinanceReactDemo.DataTransferObject/obj
/BinanceReactDemo/BinanceReactDemo.Validation/bin/Debug/net6.0
/BinanceReactDemo/BinanceReactDemo.Validation/obj
