.my-icon-buy {
  color: #267365;
  font-size: 36px;
  text-align: center;
  justify-content: center;
}

.my-icon-table {
  color: #b7bf99;
  font-size: 36px;
  text-align: center;
  justify-content: center;
}

.my-icon-sell {
  color: #ea4f4c;
  font-size: 36px;
  text-align: center;
  justify-content: center;
}
