.dropdown-menu {
  max-height: 200px !important;
  overflow-y: auto !important;
}

.modal-container {
  padding: 20px !important;
}

.dropdown-toggle {
  background-color: #f8f9fa !important;
  border-color: #ced4da !important;
  color: #000 !important;
}

.dropdown-toggle:hover {
  background-color: #e2e6ea !important;
}

.label-style {
  color: yellow !important;
}

.input-group {
  margin-bottom: 15px !important;
}

.submit-button {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
  color: #fff !important;
}

.submit-button:hover {
  background-color: #218838 !important;
}

.disabled-input {
  background-color: #f8f9fa !important;
}

.custom-header {
  background-color: #024959 !important;
  color: white !important;
}

.left-aligned-label {
  text-align: left;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}

.dropdown-toggle {
  width: 100%;
}

.custom-header .btn-close {
  color: white !important;
  background-color: white !important;
  border-radius: 50%;
}

.custom-header .btn-close:hover {
  background-color: #f0f0f0;
}

.custom-header .btn-close:focus {
  box-shadow: none;
  outline: none;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: #024959;
}

.custom-dropdown-container {
  display: flex;
  justify-content: start;
}
