.custom-modal {
  --bs-modal-width: 1500px;
  margin: 0 auto;
}

.buyCoin {
  background-color: green;
  color: white;
}

.sellCoin {
  background-color: red;
  color: white;
}

.custom-header {
  background-color: #ea4f4c;
  color: #222;
}

.navLink .nav-link {
  color: #222 !important;
  font-weight: 300 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
}

.nav-link.active {
  color: white !important;
  background-color: #024959 !important;
  font-weight: bold !important;
}

.pagination .page-item {
  --bs-pagination-color: #024959 !important;
  --bs-pagination-bg: #024959 !important;
}

.pagination .page-link {
  color: white !important;
  font-weight: 700 !important;
  --bs-pagination-active-bg: white !important;
  --bs-pagination-active-border-color: #024959 !important;
}

.active > .page-link {
  color: #024959 !important;
}

.page-item:hover .page-link {
  color: #024959 !important;
}

.no-records {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: white;
  font-weight: 700;
  color: #024959;
  font-family: "Roboto", sans-serif;
}
