.custom-modal {
  --bs-modal-width: 1500px;
  margin: 0 auto;
}

.buyCoin {
  background-color: green;
  color: white;
}

.sellCoin {
  background-color: red;
  color: white;
}

.custom-header {
  background-color: #ea4f4c;
  color: #222;
}

.navLink .nav-link {
  color: #222 !important;
  font-weight: 300 !important;
  font-family: "Roboto", sans-serif !important;
  font-size: 15px;
}

.nav-link.active {
  color: #ea4f4c !important;
  font-weight: bold !important;
}

.pagination .page-item {
  --bs-pagination-color: #222 !important;
  --bs-pagination-bg: #222 !important;
}

.pagination .page-link {
  color: #ea4f4c !important;
  font-weight: 500 !important;
  --bs-pagination-active-bg: #daf7a6 !important;
  --bs-pagination-active-border-color: #daf7a6 !important;
}

.active > .page-link {
  color: #222 !important;
}
