.container-sm {
  text-align: center;
  padding-top: 20px;
}

.chartContainer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  height: 500px;
  background-color: white;
}

.no-arrow .custom-header {
  pointer-events: none;
  background-color: #eaeded;
}

.accordion-button:not(.collapsed) {
  background-color: #024959 !important;
  color: white !important;
}

.no-arrow .accordion-button::after {
  display: none;
}

@media (max-width: 768px) {
  .chartContainer {
    max-width: 100%;
  }
}
