.some-parent-class .panel-like-card {
  border: 1px solid #ddd !important;
  background-color: white !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) !important;
  color: black !important;
  cursor: pointer;
  height: 100px !important;
  width: 250px;
}
